h1 {
  padding: 12px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  color: #fff;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}

button {
  border: none;
  background: #333;
  color: #eee;
}

.button {
  border: 2px solid #fff;
  width: 12em;
  height: 2em;
  margin-bottom: 0.5em;
  padding-top: 0.8em;
  text-transform: uppercase;
  text-align: center;
}

.hr {
  width: 100%;
  height: 2px;
  margin: 20px auto;
}

.sub-heading {
  line-height: 30px;
  margin: 30px 0;
  font-size: 18px;
}

.fas {
  font-size: 2em;
  color: #fff;
}
.cleanfix::after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.main-wrapper {
  background-image: url(../img/banner.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

nav {
  height: 50px;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  height: 50px;
}

nav ul li, nav .logo {
  display: inline-block;
  line-height: 50px;
  margin-right: 20px;
}

nav ul li a {
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
  margin: 0;
}

.logo a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

#banner {
  height: 100vh;
  position: relative;
  text-align: center;
}

#banner .inner {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 20%;
}

#banner .inner h1 {
  margin: 0;
}

#banner .inner .more {
  margin-top: 300px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;

}

#banner .inner .fas {
  margin-top: 10px;
}
#banner .button {
  margin: 0 auto;
  border: none;
  background-color: #333;
  color: #eee;
  width: 8em;
}

.green-section {
  background: #089DB0;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.green-section .hr {
  background: #3f7e8c;
  width: 60%;
}

.green-section .icon-group {
  margin-top: 60px;
}
.green-section .icon-group .icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #398fa2;
  transform: rotate(45deg);
  margin: 30px;
}

.icon-group .icon .fas {
  font-size: 3em;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px 10px;
  padding-top: 5px;
  text-align: center;
  transform: rotate(-45deg);
}

.gray-section {
  background: #34393c;
  color: #fff;
}

.article-preview > div {
  float: left;
  font-size: 0;
}

.gray-section .img-section {
  width: 45%;
}

.gray-section .text-section {
  width: 55%;
}

.img-section img {
  display: block;
  width: 100%;
}

.text-section .text-wrapper {
  padding: 10% 25%;
}

.text-wrapper h2 {
  margin-bottom: 20px;
}

.text-wrapper .sub-heading {
  font-size: 22px;
  margin-top: 0;
}

.text-wrapper > * {
  max-width: 90%;
}

.article-preview:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.purple-section {
  background: #571fb9;
  color: #fff;
  padding: 80px 0;
}

.purple-section .wrapper {
  margin: 0 auto;
}
.purple-section .heading-wrapper {
  text-align: center;
  margin-bottom: 0;
}
.purple-section .hr {
  background: #6851d2;
  width: 60%;
}

.card {
  width: 50%;
  float: left;
  min-height: 300px;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card:first-child {
  background-color: rgba(0, 0, 0, 0.04);
}

.card:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.08);
}

.card:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.12);
}

.card:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.16);
}

.card:nth-child(5) {
  background-color: rgba(0, 0, 0, 0.20);
}

.card:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.24);
}

.transparent-section .wrapper {
  background-color: transparent;
  color: #fff;
}

.transparent-section .wrapper .inner {
  margin: 8em auto;
}

.transparent-section .wrapper .inner .text-content {
  box-sizing: border-box;
  width: 60%;
  float: left;
  padding-right: 3em;
}

.transparent-section .wrapper .inner .button-group {
  box-sizing: border-box;
  width: 40%;
  float: left;
  list-style: none;
  height: 8em;
}

.transparent-section .button-group .button {
  margin: 1em auto;
}

.button.special {
  border: none;
  background-color: #ed4933;
}

footer {
  background: #333;
  color: #fff;
  min-height: 200px;
  text-align: center;
}

footer ul {
  margin: 0;
}

footer .share-group {
  display: block;
  width: 1080px;
  margin: 0 auto;
  padding: 50px;
}

.share-group li {
  display: inline-block;
  padding: 10px;
}

.share-group li .fab {
  font-size: 2em;
}

.copy {
  padding-bottom: 20px;
}
